@inherits LayoutComponentBase
@using Radzen

<RadzenNotification />
<div class="app-layout">
    
    @Body
</div>

<style>
.app-layout {
    background-color: #f9fafb;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
</style>
