@page "/Landing0"
@attribute [Authorize]
@using Microsoft.AspNetCore.Authorization
@using ReMindHealth.Models
@using Microsoft.AspNetCore.Components.Forms
@rendermode InteractiveServer
@using ReMindHealth.Components.Layout
@layout AppLayout

<div class="mobile-wrapper">
    <div class="mobile-card">
         <img src="images/remind_logo.png" alt="ReMindHealth Logo" class="remind-logo" />
        <p class="subtitle">Klarheit für Ihre Gesundheit</p>
    </div>
</div>